@import url('/Components/Common/menu.css');

#contactMe {
    position: relative;
    text-align: center;
    margin-top: 5vh;
    width: 100%;
}

#contact-content {
    position: relative;
    max-width: 800px;
    width: 90%;
    display: grid;
    margin: 10vh auto 0;
    grid-template-columns: 1fr;
    gap: 15px;
}
#details {
    
}

.message, .contact, .subject {
    text-align: center;
    font-size: 120%;
    background: #d9d9d9;
    height: 50px;
    font-family: "Klee One", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    margin: 8px;
    border-radius: 20px;
}

.contact {
    width: 45.7%;
}
.subject {
    width: 95%;
}
.message {
    width: 95%;
    height: 200px;
}

@media screen and (max-width: 768px) {
    #contact-content {
        width: 90%;
    }
    
    .contact {
        width: 100%;
    }
    
    .message, .contact, .subject {
        font-size: 100%;
    }
}