<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.css">
</head>
<body>
    <div id="menuBar"></div>
    <div id="listOfServices">
        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>

        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>
        
        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>

        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>

        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>
        
        <div class="service">
            <h1>Material Estimate</h1>
            <ul class="descList">
                <li class="descItems">asdf</li>
            </ul>
        </div>

    </div>
</body>
<script src="/Components/Common/menu.js"></script>
</html>