<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="menuBar"></div>
    <div id="content">
        <img class="me-pic" src="/Images/me.png" alt="My Picture">
        <div id="greeting-intro">
            <h2 id="intro">I'M RENZO,</h2>
            <p id="about">
                &nbsp &nbsp &nbsp &nbsp &nbsp a Mechanical Engineer with a passion for innovation and versatility. 
                Beyond my expertise in mechanical design and fabrication, I have hands-on experience in software development, 
                electrical systems, electronics, and CAD tools like AutoCAD, Revit, SolidWorks, and SketchUp. <br/> <br/>

                &nbsp &nbsp &nbsp &nbsp &nbsp This portfolio showcases my multidisciplinary skills and projects, where engineering meets creativity. 
                Explore my work and see how I combine technical knowledge, problem-solving, and craftsmanship to deliver 
                exceptional results. <br/> <br/>

                Let’s build something great together!
            </p>
        </div>
    </div>
</body>
<script src="/Components/Common/menu.js"></script>
</html>